---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import type { CardProps, HeaderProps } from "@lib/types";
import Quote from "@components/Quote.astro";
import Footer from "@components/Footer.astro";

const header: HeaderProps = {
  avatarURL: "https://avatars.githubusercontent.com/u/97370421?v=4",
  title: "shironxn",
  desc: "halo aku shiron, seorang programmer pemula",
};

const card: CardProps[] = [
  {
    icon: "fa-solid fa-code",
    title: "Website",
    desc: "Explore my personal website for projects, blogs, and more!",
    url: "",
  },
  {
    icon: "fa-brands fa-instagram",
    title: "Instagram",
    desc: "Catch a glimpse of my daily life and creative moments on Instagram.",
    url: "https://instagram.com/shironxn",
  },
  {
    icon: "fa-brands fa-youtube",
    title: "Youtube",
    desc: "Watch my latest videos, tutorials, and vlogs on YouTube.",
    url: "https://youtube.com/@shironxn",
  },
  {
    icon: "fa-brands fa-github",
    title: "Github",
    desc: "Check out my coding projects and contributions on GitHub.",
    url: "https://github.com/shironxn",
  },
  {
    icon: "fa-brands fa-pinterest",
    title: "Pinterest",
    desc: "Find inspiration and my curated collections on Pinterest.",
    url: "https://pinterest.com/shironxn/",
  },
  {
    icon: "fa-brands fa-x-twitter",
    title: "X",
    desc: "Follow my latest updates and thoughts on X.",
    url: "https://x.com/shironxn/",
  },
];
---

<Layout title="linktree">
  <main class="container m-auto bg-base-300 min-h-screen">
    <Header
      avatarURL={header.avatarURL}
      title={header.title}
      desc={header.desc}
    />
    <Quote />
    <Card Cards={card} />
    <Footer />
  </main>
</Layout>
