---
// @components/CardList.astro

import type { CardProps } from "@lib/types";

interface Props {
  Cards: CardProps[];
}

const { Cards } = Astro.props;
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  {
    Cards.map((item) => (
      <div class="rounded bg-base-200 flex gap-4 items-center p-4 w-full">
        <div>
          <i class={`${item.icon} fa-2xl`} />
        </div>
        <div>
          <a href={item.url} target="_blank" class="font-bold link link-hover">
            {item.title}
          </a>
          <p class="text-sm">{item.desc}</p>
        </div>
      </div>
    ))
  }
</div>

<script
  is:inline
  src="https://kit.fontawesome.com/b8edf9dee8.js"
  crossorigin="anonymous"></script>
